* {
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  font-family: sans-serif;

  width: 600px;
  margin: auto;

  text-align: center;
}

footer {
  text-align: center;
  padding: 1px;
  background-color: DarkSalmon;
  color: white;
}
